   body{
         background-color: #000000;
         color: #ffffff;
      }
      *{
        font-family: "helvetica Neue", helvetica, Arial, Sans-serif;
        font-stretch: condensed;
        font-weight: 700;
        font-size: 20px;
        }
      a{
        text-decoration: none;
         text-color: 7D69B3;
      }
