   body{
         background-color: #000000;
         color: #ffffff;
      }
      *{
        font-family: "helvetica Neue", helvetica, Arial, Sans-serif;
        font-stretch: condensed;
        font-weight: 700;
        font-size: 20px;
        }
      a{
        text-decoration: none;
         text-color: 7D69B3;
      }
h1{ color: #00ff00;
   font-size: 32px;
  }
h2{ color #00e5ff;
   border-bottom: 1px solid #00ff00;
  }
